/* --- helpers --- */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
$main_font: 'Amatic SC', cursive;
$hover_color: #d9ac26;

/* --- clean --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: $main_font;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active {
        color: inherit;
    }
}

/* --- mobile first --- */

.front_sect {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    .front_title {
        font-size: 58px;
        width: 200px;
        letter-spacing: 4px;
        padding: 4px;
        margin: 2px;
    }
    
    .front_2nd-title {
        color: $hover_color;
        margin-top: 8px;
    }

    .contact_ad {
        font-style: normal;
        font-size: 30px;
        padding: 6px;
        margin: {
            top: 8px;
            bottom: 8px;
        }
        word-wrap: break-word;

        &:hover .hover_mail {
            color: $hover_color;
        }
    }

    .icons_sect {
        font-size: 38px;
        padding: 4px;
        margin: {
            top: 18px;
            bottom: 2px;
        }

        a {
            padding: {
                left: 5px;
                right: 5px;
            }

            &:hover {
                color: $hover_color;
            }
        }
    }
}

/* --- media queries --- */

@media (orientation: landscape) {
    .front_sect {
        .front_title {
            font-size: 44px;
            width: 100%;
        }
        .contact_ad {
            font-size: 30px;
        }
    }  
}

@media (min-width: 768px) {    
    .front_sect {
        .front_title {
            font-size: 92px;
        }
        .contact_ad {
            font-size: 64px;
        }
    }
}
