@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
$underconstruction_font: 'Amatic SC',
cursive;
$hover_color: #d9ac26;

/* --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: $underconstruction_font;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active {
        color: inherit;
    }
}

.about_sect_invisible {
    display: none;
}

/* --- */

.page_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses_sect {
    width: 75vw;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: calc(-75vw + 20px);

    &:hover {
        left: 0;
        background-color: #000;
        color: $hover_color;
        transition: all 2s ease;
    }

    .courses_title {
        transform: rotate(-90deg);
        height: auto;
        width: 200px;
        font-size: 30px;
    }

    .courses_list {
        width: 50vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        letter-spacing: 2px;
        text-align: center;

        dt {
            font-weight: 700;
            font-size: 24px;
        }

        dd {
            font-size: 18px;
            color: #FFF;
        }
    }

    .arrow_courses {
        width: 20px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 50px;
        font-weight: 700;
    }
}

.websites_sect {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: calc(-75vh + 20px);
    left: 0;

    &:hover {
        top: 0;
        background-color: #000;
        color: $hover_color;
        transition: all 2s ease;
    }

    .websites_title {
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin: 20px;
    }

    .websites_list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        letter-spacing: 2px;
        text-align: center;
        flex-wrap: wrap;
        color: #fff;

        div {
            width: 45%;
            font-size: 18px;

            a {
                display: block;
                width: 100%;
                height: 300px;
                margin: 10px;
                background-position: center;
                background-size: cover;
                background-color: rgba(250, 250, 250, .2);
                background-blend-mode: overlay;

                &.gasa_link {
                    background-image: url('../image/websites_ksiazka-gasa.png');
                }

                &.hovawart_link {
                    background-image: url('../image/websites_hovawart.png');
                }
                
                &:hover {
                    background-blend-mode: normal;
                    transition: all 2s ease;
                }
            }
        }
    }

    .arrow_websites {
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-size: 50px;
        font-weight: 700;
        transform: rotate(90deg);
    }
}



.underconstruction_sect {
    width: 70vw;
    height: 35vh;
    text-align: center;

    .undercostruction_title {
        font-size: 92px;
        letter-spacing: 4px;
        padding: 8px;
        margin: {
            top: 2px;
            bottom: 12px;
        }
    }

    .contact_ad {
        font-style: normal;
        font-size: 64px;
        padding: 6px;
        margin: {
            top: 8px;
            bottom: 8px;
        }
        word-wrap: break-word;

        &:hover .hover_mail {
            color: $hover_color;
        }
    }

    .icons_sect {
        font-size: 38px;
        padding: 4px;
        margin: {
            top: 18px;
            bottom: 2px;
        }

        a {
            padding: {
                left: 5px;
                right: 5px;
            }

            &:hover {
                color: $hover_color;
            }
        }
    }
}
